html {
   height: 100%;
}

body {
   height: 100%;
   margin: 0;
}

#loadBackground {
   width: 100%;
   height: 100%;
   margin: 0;
   background: transparent;
   visibility: visible;
   position: absolute;
   z-index: 10;
   background-size: 300% 300%;
}

.animationEle {
   animation: color 10s ease-in-out infinite alternate-reverse;
}

#loadText {
   font-family: 'Leckerli One', cursive;
   color: white;
   position: absolute;
   animation-name: moveing;
   animation-duration: 3s;
   animation-delay: 3s;
   animation-fill-mode: forwards;
   top: 45%;
   left: 44%;
   font-size: 90px;
   user-select: none;
}

@keyframes moveing {
   0% {left: 44%;top: 45%;font-size: 90px;}
   100% {left: 30px;top: 30px; font-size: 50px;}
}

@keyframes moveing2 {
   0% {left: 30px;top: 30px; font-size: 50px;}
   100% {left: 44%;top: 45%;font-size: 90px;}
}

#root {
   height: 100%;
   margin: 0;
   display: flex;
   background: linear-gradient(290deg,#c454a8,#494BFF, #c454a8);
   flex-direction: column;
   position: relative;
   background-size: 300% 300%;
}

@keyframes color {
   0% {background-position: 0 50%;}
   50% {background-position: 100% 50%;}
   100% {background-position: 0 50%;}
}

#top {
   height: 10%;
   display: flex;
   align-items: center;
   box-sizing: border-box;
   padding: 30px;
   font-family: 'Leckerli One', cursive;
   font-size: 50px;
   color: white;
   user-select: none;
}

#middle {
   height: 90%;
   display: flex;
   justify-content: center;
   align-items: center;
   z-index: 20;
   display: none;
}

#fileButton {
}

#fileButton:hover {
   box-shadow: 0px 0px 15px 0px;
}

#upload {
   opacity: 1;
   transition: opacity 1s;
}

#sendButton {
   position: relative;
   padding: 20px 40px;
   font-size: 23px;
   line-height: 1.5;
   border-radius: 23px;
   color: black;
   font-weight: 500;
   background-color: white;
   border: 0;
   overflow: hidden;
   font-family: 'Gowun Dodum', sans-serif;
   animation-duration: 1s;
   transition-duration: 0.15s;
}

.hidden {
   opacity: 0;
}

@keyframes leaveButton {
   0%{opacity: 100;} 
   100% {opacity: 0;}
}

#sendButton:hover {
   box-shadow: 0px 0px 18px 2px;
   background-color: #F9F9F9;
}

input[type="file"]{
  cursor: pointer;
  position: absolute;
  left: 0;
  top: 0;
  transform: scale(5);
  opacity: 0;
}

