html {
   height: 100%;
}

body {
   height: 100%;
   margin: 0;
}

#root {
   height: 100%;
   margin: 0;
   display: flex;
   background: linear-gradient(45deg,rgba(0, 0, 0, 0.9),rgba(0, 0, 0, 0.88));
   flex-direction: column;
}

#topMenu {
   height: 200px;
   display: flex;
   justify-content: space-between;
   align-items: center;
}

#selectFile {
   margin-left: 25px;
}

#moreOptions {
   margin-right: 20px;
}

.iconsSize {
   font-size: 75px;
   color: white;
   border-radius: 50%;
   padding: 25px;
   transition-duration: 0.15s;
}

#top {
   height: 900px;
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
}

#bottom {
   flex-grow: 1;
   display: flex;
   justify-content: flex-end;
   flex-direction: column;
}

#canvas {
   width: 90%;
   height: 91%;
   background-color: #F7F7F7 ;
   object-fit: cover;
   box-shadow: 10px 10px 10px;
   position: relative;
}

.image {
   width: 100%;
   height: 100%;
   object-fit: cover;
   box-sizing: border-box;
   position: absolute;
}

#dropMenu {
   width: 100%;
   height: 550px;
   display: flex;
   flex-direction: column;
}

#dropDrag {
   width: 100%;
   background-color: #F7F7F7 ;
   height: 150px;
   border-top-left-radius: 50px;
   border-top-right-radius: 50px;
   display: none;
   justify-content: center;
   align-items: center;
}

#menuLogo {
   font-size: 90px;
}

.layer {
   height: 200px;
   width: 100%;
   background-color: transparent ;
}

#layer1 {
   transition-duration: opacity 0.5s;
   height: 150px;
   opacity: 0;
}

#layer2 {
   display: flex;
   height: 200px;
   opacity: 0;
}

#layer3 {
   display: flex;
   overflow-x: scroll;
   transition-duration: 0.15s;
   background-color: rgba(0, 0, 0,);
   box-shadow: 0px 0px 29px;
}

.IconsBox {
   width: 200px;
   height: 200px;
   flex-shrink: 0;
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 50px;
   transition-duration: 0.15s;
}

.iconsSize1 {
   font-size: 75px;
   color: white;
   border: 2px solid white;
   border-radius: 50%;
   padding: 25px;
   transition-duration: 0.25s;
   animation-name: leftRight;
   animation-duration: 0.5s;
}
.iconsSize2 {
   font-size: 75px;
   color: white;
   border: 2px solid white;
   border-radius: 50%;
   padding: 25px;
   transition-duration: 0.25s;
   animation-name: leftRight;
   animation-duration: 0.5s;
}
.iconsSize3 {
   font-size: 75px;
   color: white;
   border: 2px solid white;
   border-radius: 50%;
   padding: 25px;
   transition-duration: 0.25s;
}
.iconsSize4 {
   font-size: 75px;
   color: white;
   border: 2px solid white;
   border-radius: 50%;
   padding: 25px;
   transition-duration: 0.25s;
}
.iconsSize5 {
   font-size: 75px;
   color: white;
   border: 2px solid white;
   border-radius: 50%;
   padding: 25px;
   transition-duration: 0.25s;
}
.iconsSize6 {
   font-size: 75px;
   color: white;
   border: 2px solid white;
   border-radius: 50%;
   padding: 25px;
   transition-duration: 0.25s;
}
.iconsSize7 {
   font-size: 75px;
   color: white;
   border: 2px solid white;
   border-radius: 50%;
   padding: 25px;
   transition-duration: 0.25s;
}

#cropWindow {
   display: none;
   justify-content: center;
   align-items: center;
   gap: 80px;
   height: 200px;
   width: 100%;
}

.cropButton {
   background-color: transparent;
   border: 2px solid white;
   font-size: 60px;
   color: white;
   padding: 20px;
   border-radius: 25px;
   transition: 0.5s;
}

.cropButton:hover {
   background-color: white;
   border: 2px solid white;
   font-size: 60px;
   color: black;
   padding: 20px;
   border-radius: 25px;
   transition: 0.5s;
}

.cropSelectDiv {
   width: 100%;
   height: 100%;
   background-color: black;
   position: absolute;
   z-index: 20;
   opacity: 0.36;
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   grid-template-rows: repeat(3, 1fr);
   padding: 20px;
   border: 1px solid white;
}

.cropChild {
   border: 1px solid white;
}

#editSize {
   width: 100%;
   height: 80px;
   display: flex;
   justify-content: center;
   align-items: center;
}

#widthInput {
   display: none;
   width: 250px;
   height: 65px;
   background-color: transparent;
   border: 2px solid white;
   color: white;
   font-size: 48px;
   padding-left: 8px;
}

@keyframes leftRight {
   0% {opacity: 0;}
   100% {opacity: 1;}
}